<ion-view view-title="GetTrek">
  <ion-content>
   <!-- <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list>-->
      <br /> 
      <ion-list>
          <ion-item class="item-remove-animate item-avatar item-icon-right list" type="item-text-wrap" href="#Today/0">
            <div class="mydiv" style="background-color:#337AB7">{{Today.AllData}}</div>
              <h2 style="margin-left:40px;width:236px;">All Data</h2>
            <i class="icon ion-chevron-right icon-accessory"></i>        
          </ion-item>
             <ion-item class="item-remove-animate item-avatar item-icon-right list" type="item-text-wrap" href="#Today/{{TodayObj.id}}">
            <div class="mydiv" style="background-color:#82AF6F">{{Today.Present}}</div>
              <h2 style="margin-left:40px;width:236px;">{{Today.PresentName}}</h2>
            <i class="icon ion-chevron-right icon-accessory"></i>       
          </ion-item>
             <ion-item class="item-remove-animate item-avatar item-icon-right list" type="item-text-wrap" href="#Today/{{TodayObj.id}}">
            <div class="mydiv" style="background-color:#D15B47">{{Today.Absent}}</div>
              <h2 style="margin-left:40px;width:236px;">{{Today.AbsentName}}</h2>
            <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>
             <ion-item class="item-remove-animate item-avatar item-icon-right list" type="item-text-wrap" href="#Today/{{TodayObj.id}}">
            <div class="mydiv" style="background-color:#7DB9E1">{{Today.Leave}}</div>
              <h2 style="margin-left:40px;width:236px;">{{Today.LeaveName}}</h2>
            <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>
          <ion-item class="item-remove-animate item-avatar item-icon-right list" type="item-text-wrap" href="#Today/{{TodayObj.id}}">
            <div class="mydiv" style="background-color:#B4A605">{{Today.WeekOff}}</div>
              <h2 style="margin-left:40px;width:236px;">{{Today.WeekOffName}}</h2>
            <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>
    </ion-list>
 <br />       
        <div>
            <label style="color:#B53D56;padding-left:30px; font-family:calibri;font-size:20px;">Your selected branch is -</label><br />
            <label style="color:#B53D56;padding-left:30px; font-family:calibri;font-size:27px;font-weight: 400;">Trivantpuram </label>
            <button class="button button-outline button-positive" style="margin-left:20px;">Change it</button>
       </div>
    <hr style="border-top: 1px solid #B53D56;"/>  
  </ion-content>
 <!--  <div class="tabs tabs-icon-top customtab">
        <a class="tab-item " href="#/tab/dash CustomtabSIze"  style="margin-left: 10px;margin-top:0!important;font-size:25px;color:white;font-weight: 300;background-color:#B53D56;">Day View</a>
        <a class="tab-item" href="#/tab/account"  style="margin-top:0!important;margin-left:6px;font-size:25px;font-weight: 300;opacity: 0.7;padding-right: 10px;
    padding-left: 2px;"> Month View</a>
      </div>-->
</ion-view>
