<!--<div>
    <ion-tabs class="tabs-icon-top tabs-color-active-positive tabs-top customClass" >         

        <ion-tab title="This Month" UI-sref="ThisMonth">
            <ion-nav-view name="ThisMonth"></ion-nav-view> 
        </ion-tab>

        <ion-tab title="Last Month" UI-sref="LastMonth">
            <ion-nav-view name="LastMonth"></ion-nav-view>
        </ion-tab> 

    </ion-tabs>
</div>-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive tabs-top customClass" > 
                
    <ion-tab title="This Month" href="#/MonthTab/ThisMonth">
        <ion-nav-view name="MonthTab-ThisMonth"></ion-nav-view> 
    </ion-tab>

    <ion-tab title="Last Month" href="#/MonthTab/LastMonth">
        <ion-nav-view name="MonthTab-LastMonth"></ion-nav-view>
    </ion-tab> 
    <div class="myclass">
    <a class="btn"><i class="icon ion-chevron-left"></i></a>
    <a class="btn" style="margin-left:2px;"><i class="icon ion-chevron-right myicont"></i></a>
        </div>
</ion-tabs>
 